.app-container {
  background-color: #232649; 
  min-height: 100vh; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: flex-start; 
  padding: 16px; 
  box-sizing: border-box;
} 