.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 8px;
    border: 1px solid black;
}

.input-container {
    margin-bottom: 20px; /* 여백 */
}

.input-container input {
    width: 70%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid black;
    margin-right: 10px; 
}

.input-container button {
    padding: 8px 15px;
    border: none; /* 테두리 제거 */
    border-radius: 4px;
    background-color: skyblue;
    color: black;
    cursor: pointer;
}

.lists-container {
    display: flex; /* 수평 배치 */
    justify-content: space-between; /* 수평 정렬 */
}

.task-list {
    width: 45%;
}